/*  #66D3FA*/
/*  #3C99DC  */

*{
    margin: 0;

}


.dugme {
    display: block;
    width: 20%;
    padding: 15px 20px;
    text-align: center;
    border: none;
    background: #66D3FA;
    outline: none;
    border-radius: 30px;
    font-size: 1.2rem;
    color: #FFF;
    cursor: pointer;
    transition: .3s;
}

.dugme:hover {
    transform: translateY(-5px);
    background: #3C99DC;
}


table, th, td {
    border: 1px solid black;
  }


  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover:not(.active) {
    background-color: #111;
  }
  
  .active {
    background-color: #3C99DC;
  }
